/* Initial setups */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 1280px;
  height: 100%;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Page-header */
.page-header {
  padding: 0 70px;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo-link {
  position: relative;

  align-self: flex-start;
  width: 140px;
  margin-right: 28px;
}

.navigation-logo-image {
  display: block;
  max-width: 140px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-pages {
  max-width: 480px;
  margin-right: auto;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 225px;
  margin-right: 20px;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  top: 63px;
  left: 16px;
  right: 16px;

  height: 2px;

  background-color: #756257;

  content: "";
}

.navigation-pages .navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  display: block;
  min-height: 64px;
  min-width: 44px;
}

.link-favourite-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
}

.navigation-button {
  align-self: center;

  font-size: 16px;
  line-height: 20px;
}

/* Hero section */
.hero {
  padding: 51px 0 82px;
  margin-bottom: 69px;

  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
  background-image:
    url("../images/backgrounds/divider.svg"),
    url("../images/backgrounds/hero-banner.jpg");
  background-size: 100% auto;
  background-position:
    center bottom,
    top left;
  background-repeat: no-repeat;
}

.hero-message {
  display: block;
  margin: 0 auto;
}

/* Features section */
.features {
  margin-bottom: 96px;
}

.features-city {
  margin-bottom: 64px;
}

.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.city-title {
  max-width: 620px;
  margin: 0 auto 25px;
}

.staying-title {
  max-width: 505px;
  margin: 0 auto 20px;
}

.features-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.city-text {
  margin: 0 0 90px;
}

.staying-text {
  margin: 0 0 64px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-item-compound {
  display: flex;
  width: 1200px;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
  width: 400px;
  min-height: 385px;

  text-align: center;
}

.features-image {
  display: block;
  max-width: 800px;
  height: auto;

  object-fit: contain;
}

.features-item-primary {
  color: #ffffff;

  background-color: #82b3d3;
}

.features-item-secondary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-tertiary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.features-subtitle {
  max-width: 172px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.city-subtitle {
  margin: 0 auto 62px;
}

.staying-subtitle {
  margin: 0 auto 30px;
}

.staying-subtitle::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;

  content: "";
}

.features-subtitle-primary {
  color: #000000;
}

.features-desription {
  margin: 0;
}

/* Search section */
.search {
  margin-bottom: 96px;

  text-align: center;
}

.search-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  margin: 0 0 54px;

  font-size: 22px;
  line-height: 26px;
}

.search-button {
  display: block;
  max-width: 375px;
  min-height: 52px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 36px;
}

/* Newsletter section */
.newsletter {
  padding: 96px 0 104px;
  margin-bottom: auto;
}

.newsletter-background {
  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/backgrounds/newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-primary {
  color: #000000;
}

.newsletter-text {
  margin: 0 0 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  max-width: 452px;
  min-height: 52px;
  margin: 0 auto;
}

.newsletter-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
}

/* Filter section */
.filter {
  padding: 35px 70px 70px;
  margin-bottom: 50px;

  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/backgrounds/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-main-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0 0 32px;

  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  display: block;
  padding: 8px 0;

  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 37px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  padding: 0;
  margin: 0;

  border: 0;
}

.filter-group-facilities,
.filter-group-accommodation {
  width: 150px;
}

.filter-group-price {
  width: 288px;
}

.filter-group-facilities,
.filter-group-price {
  margin-right: 70px;
}

.filter-group-accommodation {
  margin-right: auto;
}

.filter-buttons {
  width: 191px;
}

.filter-title {
  padding: 0;
  margin: 0 0 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  width: inherit;
  padding: 0;
  margin: 0;

  word-break: break-all;
  list-style: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-input {
  display: none;
}

.filter-label {
  padding-left: 36px;

  font-size: 18px;
  line-height: 23px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  gap: 32px;
}

.filter-button {
  padding: 8px 0;

  font-size: 16px;
  line-height: 20px;
}

/* Catalog section */
.catalog {
  padding: 0 70px;
  margin-bottom: 60px;
}

.catalog-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  margin: 0 auto 0 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-select {
  margin-right: 70px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-view-list {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;

  color: #333333;
  background-color: transparent;

  cursor: pointer;
}

.accommodation-list {
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;

  list-style: none;
  border-bottom: 1px solid #E6E6E6;
}

.accommodation-item {
  width: 340px;
  padding: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.accommodation-link {
  text-decoration: none;
}

.accommodation-title {
  display: inline-block;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.accommodation-image {
  display: block;
  max-width: 300px;
  height: auto;

  object-fit: contain;
}

.accommodation-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.accommodation-button {
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  border-radius: 4px;
}

.pagination-link-current,
.pagination-link-primary {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-primary {
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-ellipsis {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.button-primary,
.button-secondary,
.button-selected,
.button-transparent {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border-width: 0;

  user-select: none;
  cursor: pointer;
}

/* Page-footer */
.page-footer {
  display: flex;
  align-items: center;
  padding: 45px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 0;
  margin: 0 auto 0 0;

  list-style: none;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;

  color: inherit;
  text-decoration: none;
}

.footer-phone {
  margin-right: 235px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.about-text {
  width: 115px;
}

.about-logo {
  display: block;
}

/* Buttons general styles */
.button-primary {
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-selected {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

/* Helper classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
