/* Initial setups */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 1280px;
  height: 100%;

  color: #333333;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Page-header */
.page-header {
  padding: 0 70px;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
}

.navigation-logo-link {
  position: relative;

  width: 140px;
  margin-right: 28px;
}

.navigation-logo-link:hover {
  opacity: 0.8;
}

.navigation-logo-link:focus {
  opacity: 0.8;
}

.navigation-logo-link:active {
  opacity: 0.6;
}

.navigation-logo-image {
  display: block;
  max-width: 140px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-pages {
  max-width: 480px;
  margin-right: auto;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 225px;
  margin-right: 20px;
}

.navigation-link {
  position: relative;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;

  height: 2px;

  background-color: #756257;

  content: "";
}

.navigation-pages .navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  display: grid;
  place-items: center;
  min-height: 64px;
  min-width: 44px;
}

.navigation-link:not(.navigation-link-current):hover {
  color: #756157;
}

.navigation-link:not(.navigation-link-current):focus {
  color: #756157;
}

.navigation-link:not(.navigation-link-current):active {
  outline: none;
  color: rgba(117, 97, 87, 0.3);
}

.link-favourite {
  position: relative;
}

.link-favourite-counter {
  position: absolute;
  top: 11px;
  left: 20px;

  min-width: 20px;
  min-height: 20px;
  padding: 5px 4px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-button {
  padding: 8px;
  width: 160px;
  margin-top: 14px;

  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;
}

/* Hero section */
.hero {
  padding: 51px 0 82px;
  margin-bottom: 69px;

  color: #333333;

  background-color: rgba(131, 179, 211, 0.6);
  background-image:
    url("../images/backgrounds/divider.svg"),
    url("../images/backgrounds/hero-banner.jpg");
  background-size: 100%, cover;
  background-position:
    center bottom,
    top left;
  background-repeat: no-repeat;
}

.hero-message {
  display: block;
  margin: 0 auto;
}

/* Features section */
.features {
  margin-bottom: 96px;
}

.features-city {
  margin-bottom: 64px;
}

.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.city-title {
  max-width: 685px;
  margin: 0 auto 25px;
}

.staying-title {
  max-width: 685px;
  margin: 0 auto 20px;
}

.features-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.city-text {
  max-width: 685px;
  margin: 0 auto 90px;
}

.staying-text {
  max-width: 685px;
  margin: 0 auto 64px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-item-compound {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.features-item {
  display: flex;
  flex-direction: column;
  padding: 0 84px 81px;
  width: 400px;
  min-height: 385px;

  text-align: center;
}

.features-staying .features-item {
  padding-top: 81px;
}

.features-city .features-item-primary {
  padding-top: 102px;
}

.features-city .features-item-secondary,
.features-city .features-item-tertiary {
  padding-top: 113px;
}


.features-image {
  display: block;
  max-width: 800px;
  height: auto;

  object-fit: cover;
}

.features-item-primary {
  color: #ffffff;

  background-color: #82b3d3;
}

.features-item-secondary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-tertiary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.features-subtitle {
  max-width: 175px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.city-subtitle {
  position: relative;
  margin: 0 auto 62px;
}

.city-subtitle::after {
  position: absolute;
  left: 50%;
  bottom: -31px;

  width: 60px;
  height: 2px;

  transform: translateX(-50%);

  content: "";
}

.features-item-tertiary .city-subtitle,
.features-item-secondary .city-subtitle {
  color: #000000;
}

.features-item-primary .city-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.features-item-tertiary .city-subtitle::after,
.features-item-secondary .city-subtitle::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.staying-subtitle {
  margin: 0 auto 30px;

  color: #000000;
}

.staying-subtitle::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;

  content: "";
}

.staying-subtitle-accomodation {
  background-image: url("../images/icons/house.svg");
  background-position: center top;
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.staying-subtitle-catering {
  background-image: url("../images/icons/hamburger.svg");
  background-position: center top;
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.staying-subtitle-souvenirs {
  background-image: url("../images/icons/souvenir.svg");
  background-position: center top;
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.features-desription {
  margin: 0;
}

/* Search section */
.search {
  padding: 0 304px;
  margin-bottom: 96px;

  text-align: center;
}

.search-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  margin: 0 0 54px;

  font-size: 22px;
  line-height: 26px;
}

.search-button {
  display: block;
  max-width: 375px;
  padding: 8px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 36px;

  border-radius: 4px;
}

/* Newsletter section */
.newsletter {
  padding: 96px 258px 105px;
  margin-bottom: auto;
}

.newsletter-background {
  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.8);
  background-image: url("../images/backgrounds/newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-primary {
  color: #000000;
}

.newsletter-text {
  margin: 0 0 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-email {
  flex-grow: 1;
  padding: 14px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-email::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  opacity: 0.6;
}

.newsletter-email:hover {
  background-color: #e6e6e6;
}

.newsletter-email:focus {
  background-color: #e6e6e6;
}

.newsletter-email:focus:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.newsletter-email:disabled {
  opacity: 0.3;
}

.newsletter-email:disabled:hover {
  background-color: #f2f2f2;
}

.newsletter-button {
  padding: 8px;
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* Filter section */
.filter {
  padding: 35px 70px 70px;
  margin-bottom: 50px;

  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.8);
  background-image: url("../images/backgrounds/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-main-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0 0 32px;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:nth-child(n+2) {
  padding-left: 18px;
}

.breadcrumbs-item:nth-child(n+2)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 20px;

  background-image: url("../images/icons/breadcrumbs-separator.svg");
  background-size: 8px 20px;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateY(-50%);

  content: "";
}

.breadcrumbs-link {
  display: block;
  padding: 8px 0;

  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):hover {
  opacity: 0.6;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 37px;

  background-image: url("../images/icons/breadcrumbs-house.svg");
  background-size: 13px 15px;
  background-position: center;
  background-repeat: no-repeat;
}


.filter-form {
  display: grid;
  grid-template-columns: repeat(2, 150px) 1fr 191px;
  gap: 40px 70px;
}

.filter-group {
  padding: 0;
  margin: 0;

  border: 0;
}

.filter-group-facilities,
.filter-group-accomodation {
  width: 150px;
}

.filter-group-price {
  justify-self: end;
  grid-area: 1 / 3 / -1 / 4;
  width: 288px;
}

.filter-title {
  padding: 0;
  margin: 0 0 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  width: inherit;
  padding: 0;
  margin: 0;

  word-break: break-all;
  list-style: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;

  cursor: pointer;
}

.filter-label:hover {
  opacity: 0.6;
}

.filter-label:active {
  outline: none;
  opacity: 0.3;
}

.filter-label-disabled {
  color: rgba(255, 255, 255, 0.3);

  cursor: default;
}

.filter-label-disabled:hover {
  opacity: 1;
}

.filter-input {
  margin: 0;

  font-family: inherit;

  cursor: pointer;
}

.filter-input:focus {
  outline: 3px solid #82b3d3;
  outline-offset: 0;
}

.filter-input:active {
  outline: none;
}

.filter-input:disabled {
  opacity: 0.3;

  cursor: default;
}

.filter-input-facilities {
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 4px;

  -webkit-appearance: none;
  appearance: none;
}

.filter-input-facilities:checked {
  background-image: url("../images/icons/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: 4px 6px;
}

.filter-input-accomodation {
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;

  -webkit-appearance: none;
  appearance: none;
}

.filter-input-accomodation:checked {
  background-image: url("../images/icons/radio-tick.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.filter-label-text {
  font-size: 18px;
  line-height: 23px;
}

.filter-price-values {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;

  margin-bottom: 44px;
}

.filter-price-label {
  position: relative;

  width: 143px;
}

.filter-price-input {
  display: block;
  width: 100%;
  padding: 12px 62px 12px 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  border: none;
  background-color: #f2f2f2;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.filter-price-input::placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.filter-price-input:hover {
  background-color: #e6e6e6;
}

.filter-price-input:focus {
  outline: 3px solid #82b3d3;
  background-color: #e6e6e6;
}

.filter-price-input:focus:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.filter-price-input:disabled {
  color: rgba(0, 0, 0, 0.3);

  opacity: 0.3;
}

.filter-price-input:disabled:hover {
  background-color: #f2f2f2;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-price-text {
  position: absolute;
  top: 12px;
  right: 20px;

  max-width: 22px;
  max-height: 25px;

  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  overflow: hidden;
}

.filter-price-range {
  position: relative;
  margin: 8px 0;

  width: 287px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-price-bar {
  position: absolute;
  top: 0;
  z-index: 1;

  height: 4px;

  background-color: #ffffff;
}

.range-button {
  position: absolute;
  top: -8px;
  z-index: 2;

  width: 20px;
  height: 20px;

  font-family: inherit;

  background: #ffffff;
  border: none;
  border-radius: 5px;
}

.range-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-button:disabled {
  background-color: rgba(255, 255, 255, 0.3);
}

.range-button:disabled:hover {
  box-shadow: none;
}

.button-min {
  left: 0;
}

.button-max {
  right: 0;
}

.filter-buttons {
  grid-area: 1 / 4 / -1 / -1;
  align-self: end;
  width: 191px;
}

.filter-button {
  padding: 8px;
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;
}

.filter-button-submit {
  margin-bottom: 32px;
}

/* Catalog section */
.catalog {
  padding: 0 70px;
  margin-bottom: 60px;
}

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 292px 160px;
  gap: 10px 70px;
  align-items: start;
  margin-bottom: 40px;
}

.catalog-title {
  margin: 6px 0 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-select {
  padding: 12px 50px 12px 18px;
  margin: 0 70px 0 auto;
  width: 292px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  -webkit-appearance: none;
  appearance: none;
}

.catalog-select:hover {
  outline: none;
  border-color: #68a2ca;
}

.catalog-select:focus {
  outline: none;
  border-color: #68a2ca;
}

.catalog-select:disabled {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/select-arrow-disabled.svg");
}

.catalog-view-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;

  font-family: inherit;
  color: #000000;

  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  border-radius: 4px;

  cursor: pointer;
}

.button-view:hover {
  border-color: #000000;
}

.button-view:focus {
  outline: none;
  border-color: #68a2ca;
}

.button-view:active {
  border-color: #000000;
}

.button-view-inactive {
  border-color: #e5e5e5;
}

.button-view-active {
  border-color: #000000;
}

.button-tile {
  background-image: url("../images/icons/mode-tile.svg");
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.button-slideshow {
  background-image: url("../images/icons/mode-slideshow.svg");
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.button-list {
  background-image: url("../images/icons/mode-list.svg");
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.accomodation-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0 0 40px 0;
  margin: 0 0 41px 0;

  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.accomodation-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-content: flex-start;

  gap: 16px 20px;
  width: 340px;
  padding: 19px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.accomodation-link {
  grid-column: 1 / -1;
  max-width: max-content;

  text-decoration: none;
}

.accomodation-link-image:hover {
  opacity: 0.8;
}

.accomodation-link-image:focus {
  opacity: 0.8;
}

.accomodation-link-image:active {
  outline: none;
  opacity: 0.6;
}

.accomodation-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.accomodation-link-title {
  color: #000000;
}

.accomodation-link-title:hover {
  color: #756157;
}

.accomodation-link-title:focus {
  color: #756157;
}

.accomodation-link-title:active {
  outline: none;
  color: rgba(117, 97, 87, 0.3);
}

.accomodation-image {
  display: block;
  max-width: 300px;
  height: auto;

  object-fit: contain;
}

.accomodation-rates {
  text-align: right;
}

.accomodation-button {
  align-self: flex-start;
  padding: 8px;
  width: 140px;

  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;
}

.accomodation-stars {
  background-image: url("../images/icons/star.svg");
  background-size: 24px 17px;
  background-position: left center;
  background-repeat: repeat-x;
  background-clip: content-box;
}

.accomodation-stars-one {
  padding-right: 122px;
}

.accomodation-stars-two {
  padding-right: 98px;
}

.accomodation-stars-three {
  padding-right: 74px;
}

.accomodation-stars-four {
  padding-right: 50px;
}

.accomodation-stars-five {
  padding-right: 26px;
}

.accomodation-rating {
  padding: 8px;
  width: 140px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;

  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  border-radius: 4px;
}

.pagination-link-current,
.pagination-link-primary {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-primary {
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-primary:hover,
.pagination-link-primary:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link-primary:active {
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}


.pagination-link-ellipsis {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.pagination-link-ellipsis:hover,
.pagination-link-ellipsis:focus {
  border: 1px solid #82b3d3;
}

.pagination-link-ellipsis:active {
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

/* Page-footer */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 45px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social-link {
  display: grid;
  place-items: center;
  min-width: 47px;
  height: 40px;
  padding: 0 10px;

  color: #83b3d3;
  text-decoration: none;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone-link {
  max-width: 400px;
  margin: 0 235px 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.about-logo-link {
  display: grid;
  place-items: center;
  width: 115px;
  margin-top: 2px;

  color: #000000;
}

.about-logo-link:hover,
.about-logo-link:focus {
  color: #756157;
}

.about-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Modal window */
.modal {
  position: fixed;
  z-index: 3;
  inset: 0;

  place-items: center;

  color: #000000;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal:not([hidden]),
.modal:target {
  display: grid;
}

.modal-inner {
  position: relative;

  width: 717px;
  max-height: 90vh;
  padding: 64px 70px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;

  overflow: auto;
}

.modal-title {
  padding-right: 50px;
  margin: 0 0 64px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;

  display: grid;
  place-items: center;

  width: 52px;
  height: 52px;
  padding: 0;

  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-button-close:hover {
  background-color: #e6e6e6;
}

.modal-button-close:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-button-close:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6;
}

.modal-button-close:disabled {
  color: rgba(0, 0, 0, 0.5);

  opacity: 0.5;
  cursor: default;
}

.modal-button-close:disabled:hover {
  background-color: #f2f2f2;
}

.modal-list {
  display: grid;
  padding: 0;
  margin: 0;

  list-style: none;
}

.modal-list-date {
  row-gap: 23px;

  margin-bottom: 23px;
}

.modal-list-guests {
  gap: 23px 88px;
  grid-template-columns: 247px 242px;

  margin-bottom: 48px;
}

.modal-group {
  display: grid;
  column-gap: 10px;
}

.modal-group-date {
  grid-template-columns: 127px 1fr;
}

.modal-group-guests {
  grid-template-columns: 1fr 110px;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.modal-alignment {
  margin-top: 12px;
}

.modal-input {
  width: 100%;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  opacity: 0.6;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-input:focus:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.modal-input:disabled {
  color: rgba(0, 0, 0, 0.5);

  opacity: 0.5;
}

.modal-input:disabled:hover {
  background-color: #f2f2f2;
}

.modal-input-date {
  padding: 12px 60px 12px 20px;
}

.modal-group-input {
  position: relative;
}

.modal-button {
  position: absolute;

  display: grid;
  place-items: center;

  font-family: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-button:hover {
  color: #000000;

  opacity: 1;
}

.modal-button:focus {
  color: #000000;

  outline: none;
  opacity: 1;
}

.modal-button:focus .modal-input-image {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.modal-button:active {
  outline: none;

  opacity: 0.2;
}

.modal-button:active .modal-input-image {
  outline: none;
}

.modal-button:disabled {
  color: rgba(0, 0, 0, 0.5);

  opacity: 0.5;
  cursor: default;
}

.modal-button:disabled:hover {
  color: rgba(0, 0, 0, 0.5);

  opacity: 0.5;
}

.modal-button-date {
  top: 0;
  right: 0;

  padding: 14px 20px;

  opacity: 0.3;
}

.modal-status {
  grid-column: 2 / 5;
  margin: 4px 20px 0;

  font-size: 16px;
  line-height: 21px;
}

.modal-alert {
  color: #ff5757;
}

.modal-info {
  color: #333333;
}

.modal-input-guests {
  padding: 12px 43px;

  text-align: center;

  -webkit-appearance: textfield;
  appearance: textfield;
}

.modal-input-guests::-webkit-outer-spin-button,
.modal-input-guests::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.modal-button-change {
  top: 0;

  padding: 14px 10px;

  color: rgba(117, 97, 87, 0.3);
}

.modal-button-increase {
  left: 0;
}

.modal-button-decrease {
  right: 0;
}

.modal-tooltip {
  display: flex;

  margin-top: 11px;
}

.tooltip {
  position: relative;
  align-self: flex-start;

  margin: 0 0 0 11px;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;

  font-family: inherit;
  color: #ffffff;

  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/tooltip.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.tooltip-button:hover,
.tooltip-button:focus {
  background-color: #68a2ca;
}

.tooltip-button:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.tooltip-button:disabled {
  opacity: 0.3;
}

.tooltip-button:disabled:hover {
  background-color: #83b3d3;
  opacity: 0.3;
}

.tooltip-text {
  position: absolute;
  z-index: 4;
  top: calc(100% + 15px);
  left: 50%;

  width: 256px;
  padding: 18px 18px 25px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0;

  transform: translateX(-50%);
  transition: opacity 0.2s ease-out 0.4s;
}

.tooltip-text::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 19px;
  height: 9px;

  background-image: url("../images/icons/tooltip-arrow.svg");
  transform: translate(-50%, -100%);

  content: "";
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text,
.tooltip-button:active + .tooltip-text {
  opacity: 1;
}

.tooltip-button:disabled:hover + .tooltip-text,
.tooltip-button:disabled:focus + .tooltip-text,
.tooltip-button:disabled:active + .tooltip-text {
  opacity: 0;
}

.modal-button-submit {
  width: 100%;
  padding: 18px;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #83b3d3;
  border-radius: 10px;
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #68a2ca;
}

.modal-button-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
}

.modal-button-submit:disabled {
  background-color: #e5e5e5;
}

.modal-button-submit:disabled:hover {
  background-color: #e5e5e5;
}

/* Buttons general styles */
.button-primary,
.button-secondary,
.button-selected,
.button-transparent {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: none;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  background-color: #82b3d3;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-selected {
  background-color: #7db54f;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6c9e42;
}

.button-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-disabled,
.button-primary:disabled,
.button-secondary:disabled,
.button-selected:disabled {
  background-color: #e5e5e5;

  cursor: default;
}

.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
  color: #ffffff;

  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  outline: 3px solid #83b3d3;
}

.button-transparent:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent-disabled,
.button-transparent:disabled {
  opacity: 0.1;

  cursor: default;
}

.button-transparent-disabled:hover,
.button-transparent-disabled:focus,
.button-transparent-disabled:active {
  opacity: 0.1;
}

/* Helper classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
