/* Initial setups */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  min-width: 1280px;
  height: 100%;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Page-header */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  align-self: flex-start;
  width: 140px;
  margin-right: 28px;
}

.navigation-pages {
  width: 480px;
  margin-right: auto;
}

.navigation-user {
  width: 180px;
  margin-right: 20px;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.link-favourite-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
}

.navigation-button {
  align-self: center;

  font-size: 16px;
  line-height: 20px;
}

/* Hero section */
.hero {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
  background-image:
    url("../images/backgrounds/divider.svg"),
    url("../images/backgrounds/hero-banner.jpg");
  background-size: 100% auto;
  background-position:
    center bottom,
    top left;
  background-repeat: no-repeat;
}

.hero-message {
  display: block;
  margin: 0 auto;
}

/* Features section */
.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.features-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-item-compound {
  display: flex;
  width: 1200px;
}

.features-item {
  width: 400px;

  text-align: center;
}

.features-item-primary {
  color: #ffffff;

  background-color: #82b3d3;
}

.features-item-secondary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-tertiary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.features-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-subtitle-primary {
  color: #000000;
}

/* Search section */
.search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

/* Newsletter section */
.newsletter {
  margin-bottom: auto;
}

.newsletter-background {
  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/backgrounds/newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-primary {
  color: #000000;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
}

/* Filter section */
.filter {
  padding: 0 70px;

  color: #ffffff;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/backgrounds/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-main-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.filter-form {
  display: flex;
}

.filter-group {
  padding: 0;
  margin: 0;

  border: 0;
}

.filter-group-facilities,
.filter-group-accommodation {
  width: 150px;
}

.filter-group-price {
  width: 288px;
}

.filter-group-facilities,
.filter-group-price {
  margin-right: 70px;
}

.filter-group-accommodation {
  margin-right: auto;
}

.filter-buttons {
  width: 191px;
}

.filter-title {
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  padding: 0;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
}

/* Catalog section */
.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-view {
  color: #333333;
  background-color: transparent;
}

.accommodation-link {
  text-decoration: none;
}

.accommodation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.accommodation-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.accommodation-button {
  font-size: 16px;
  line-height: 20px;
}

.pagination-link-current,
.pagination-link-primary {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-primary {
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-ellipsis {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.button-primary,
.button-secondary,
.button-selected,
.button-transparent {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* Page-footer */
.page-footer {
  display: flex;
  padding: 0 70px;
}

.footer-social-list {
  width: 142px;
}

.footer-social-link {
  color: inherit;
  text-decoration: none;
}

.footer-phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.about-text {
  width: 115px;
}

/* Buttons general styles */
.button-primary {
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-selected {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

/* Helper classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
